<!-- subscription.component.html -->
<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button class="back-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="subscription-container">
  <mat-card class="plan-card">
    <div class="plan-header">
      <div class="plan-title">Essential</div>
      <div class="plan-price">S/10 / month</div>
    </div>
    <div class="plan-content">
      <p><mat-icon>check_circle</mat-icon> 10 patients</p>
      <p><mat-icon>check_circle</mat-icon> Lorem ipsum dolor sit amet</p>
    </div>
    <div class="plan-actions">
      <button mat-button class="accept-button">Accept</button>
    </div>
  </mat-card>

  <mat-card class="plan-card">
    <div class="plan-header">
      <div class="plan-title">Standard</div>
      <div class="plan-price">S/30 / month</div>
    </div>
    <div class="plan-content">
      <p><mat-icon>check_circle</mat-icon> 25 patients</p>
      <p><mat-icon>check_circle</mat-icon> Lorem ipsum dolor sit amet</p>
    </div>
    <div class="plan-actions">
      <button mat-button class="accept-button">Accept</button>
    </div>
  </mat-card>

  <mat-card class="plan-card">
    <div class="plan-header">
      <div class="plan-title">Premium</div>
      <div class="plan-price">S/80 / month</div>
    </div>
    <div class="plan-content">
      <p><mat-icon>check_circle</mat-icon> Unlimited</p>
      <p><mat-icon>check_circle</mat-icon> Lorem ipsum dolor sit amet</p>
    </div>
    <div class="plan-actions">
      <button mat-button class="accept-button">Accept</button>
    </div>
  </mat-card>
</div>
