<div class="patient-data-container">
  <h3>Patient's data</h3>
  <div class="patient-icon">
    <!-- Aquí puedes colocar el icono -->
  </div>
  <div class="patient-info">
    <p><strong>Clinical record number:</strong> {{ profile.patientRecordId}}</p>
    <p><strong>Full name:</strong> {{ profile.fullName }}</p>
    <p><strong>Age:</strong> {{ profile.age   }}</p>
    <p><strong>Sex:</strong> {{ profile.gender }}</p>
    <p><strong>Blood type:</strong> {{ patient.typeofblood }}</p>
    <p><strong>Phone number:</strong> {{ profile.phoneNumber }}</p>
  </div>
</div>
