<mat-toolbar>
  <img src="assets/images/logo.png" alt="HormonalCare Logo" class="logo">
  <span class="spacer"></span>
  <button mat-button class="register-button" routerLink="/sign-up">Sign up</button>
</mat-toolbar>
<div class="welcome-container">

  <main class="main-content">
    <div class="welcome-message">
      <h1>Welcome to HormonalCare</h1>
    </div>

    <div class="login-form-container">
      <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
        <h2>Sign in</h2>
        <mat-form-field class="form-field">
          <input matInput placeholder="Username" id="username" name="username" required formControlName="username">
          <mat-error *ngIf="isInvalidControl(form, 'username')">{{ errorMessagesForControl(form, 'username') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput type="password" placeholder="Password" id="password" name="password" required
                 formControlName="password">
          <mat-error *ngIf="isInvalidControl(form, 'password')">{{ errorMessagesForControl(form, 'password') }}
          </mat-error>
        </mat-form-field>
        <a href="#">Forgot your password?</a>
        <button mat-raised-button color="primary" type="submit" routerLink="/select">Enter</button>
      </form>
    </div>
  </main>
</div>
