<div class="empty-column-container">
  <div class="hola">
    <div class="hola2">
      Diagnostics <button mat-button (click)="navigateTo('treatmentPatient')">Add</button>
    </div>
    <div class="column-row-item">
      <ul>
        <br>
        <br>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="hola">
    <div class="hola2">
      Treatment and medication <button mat-button (click)="navigateTo('treatmentPatient')">Add</button>
    </div>
    <div class="column-row-item2">
      <ul>
        <br>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
