<section>
  <h3>User information</h3>
  <table class="mat-elevation-z8">
    <tbody>
    <tr>
      <td class="left">Full Name</td>
      <td class="right">{{profile.fullName }}</td>
    </tr>
    <tr>
      <td class="left">age</td>
      <td class="right">{{profile.age}}</td>
    </tr>
    <tr>
      <td class="left">phone Number</td>
      <td class="right">{{profile.phoneNumber}}</td>
    </tr>
    <tr>
      <td class="left">Email</td>
      <td class="right">{{profile.email}}</td>
    </tr>
    <tr>
      <td class="left">Type of blood</td>
      <td class="right">{{patient.typeofblood}}</td>
    </tr>
    </tbody>
  </table>
</section>
