
.mat-elevation-z8 {
  width: 75%;
  margin-left: 0;
  background-color: white;
  border: 3px solid #9E42AA;
  border-collapse: collapse;
}


th.mat-header-cell {
  background-color: #DFCAE1;
  color: black;
  padding: 10px;
  border-bottom: 2px solid #9E42AA;
  border-right: 2px solid #9E42AA;
}


td.mat-cell {
  background-color: white;
  font-size: 6px;
  color: black;
  padding: 10px;
  border-bottom: 1px solid #9E42AA;
  border-right: 1px solid #9E42AA;
}


td.mat-cell:last-child, th.mat-header-cell:last-child {
  border-right: none;
}

mat-paginator {
  position: relative;
  top: auto;
  background-color: transparent;
}
.clinic-history-button {
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}
