

<div class="mat-elevation-z8" matSort>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name </th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Type of Care Column -->
    <ng-container matColumnDef="typeOfCare">
      <th *matHeaderCellDef mat-header-cell> Type of care </th>
      <td *matCellDef="let element" mat-cell> {{element.typeOfCare}} </td>
    </ng-container>

    <!-- Hour Column -->
    <ng-container matColumnDef="hour">
      <th *matHeaderCellDef mat-header-cell> Hour </th>
      <td *matCellDef="let element" mat-cell> {{element.hour}} </td>
    </ng-container>

    <!-- Diagnosis Column -->
    <ng-container matColumnDef="diagnosis">
      <th *matHeaderCellDef mat-header-cell> Diagnosis </th>
      <td *matCellDef="let element" mat-cell> {{element.diagnosis}} </td>
    </ng-container>

    <!-- Alert Column -->
    <ng-container matColumnDef="alert">
      <th *matHeaderCellDef mat-header-cell> Alert </th>
      <td *matCellDef="let element" mat-cell > {{element.alert}} </td>
    </ng-container>

    <!-- Video Conference Column -->
    <ng-container matColumnDef="videoConference">
      <th *matHeaderCellDef mat-header-cell> Video Conference </th>
      <td *matCellDef="let element" mat-cell>
        <img src="../src/assets/images/google-meet-icon.png" alt="Google Met Icon" style="width: 20px; height: 20px;">
        <ng-template #noIcon></ng-template>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns:displayedColumns" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of patients">
  </mat-paginator>
</div>
