.event-card {
  background-color: #a788ab;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin-left: auto;
}



.full-width {
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
}
