<mat-card class="event-card">
  <mat-card-title style="margin: auto; font-size:20px">Add Event</mat-card-title>
  <mat-card-content>
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Event Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="eventDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" formControlName="startTime">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>End Time</mat-label>
        <input matInput type="time" formControlName="endTime">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Write a title">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Associate Patient</mat-label>
        <input matInput formControlName="patientEmail" placeholder="Add Patient Email @">
        <mat-error *ngIf="eventForm.get('patientEmail').errors && eventForm.get('patientEmail').errors['required']">
          Email is required.
        </mat-error>
        <mat-error *ngIf="eventForm.get('patientEmail').errors && eventForm.get('patientEmail').errors['email']">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="#D9D9D9" type="submit">Create Event</button>
      <div id="buttonDiv"></div>
    </form>
  </mat-card-content>
</mat-card>
