<!-- src/app/select-user-role/select-user-role.component.html -->

<mat-toolbar class="toolbar">
  <span>HormonalCare</span>
</mat-toolbar>

<div class="full-screen-background">
  <div class="textAndCards">
    <div class="selectUserText">
      <h1>Select your user type</h1>
    </div>
    <div class="userCards">
      <mat-card class="patientCard">
        <mat-card-title>
          Patient
        </mat-card-title>
        <mat-card-content>
          <a mat-button *ngFor="let option of optionRoles; let i = index" [routerLink]="option.path" class="nav-button" [class.first-button]="i === 0">
            <div class="icon-text">
              <img [src]="option.icon" alt="{{option.title}}" class="option-icon">
            </div>
            {{ option.title }}
          </a>
          <!--<div class="circle">
            <img src="assets/images/patient-icon.png" alt="Patient icon">
          </div>-->
        </mat-card-content>
      </mat-card>
      <mat-card class="endocrinologistCard">
        <mat-card-title>
          EndocrinologistCard
        </mat-card-title>

        <mat-card-content>

          <a mat-button *ngFor="let option of optionRoles; let i = index" [routerLink]="option.path" class="nav-button" [class.first-button]="i === 1">
            <div class="icon-text">
              <img [src]="option.icon" alt="{{option.title}}" class="option-icon">
            </div>
            {{ option.title }}
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


