<!-- src/app/select-user-role/select-user-role.component.html -->

<mat-toolbar class="toolbar">
  <span>HormonalCare</span>
</mat-toolbar>

<div class="full-screen-background">
  <div class="textAndCards">
    <div class="selectUserText">
      <h1>Select your user type</h1>
    </div>
    <div class="userCards">
      <mat-card *ngFor="let option of optionRoles; let i = index" [class.patientCard]="i === 0" [class.endocrinologistCard]="i === 1">
        <mat-card-title>
          {{ option.title }}
        </mat-card-title>
        <mat-card-content>
          <a mat-button [routerLink]="option.path" class="nav-button" [class.first-button]="i === 0" (click)="setUserType(option.title.toLowerCase())">
            <div class="icon-text">
              <img [src]="option.icon" alt="{{option.title}}" class="option-icon">
            </div>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
