
    <mat-grid-list cols="3" >


      <mat-grid-tile [colspan]="1"  [rowspan]="1">
        <app-photo-patients></app-photo-patients>

      </mat-grid-tile>
      <mat-grid-tile [colspan]="2"  [rowspan]="1">

        <app-info-profile-medicals></app-info-profile-medicals>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"  [rowspan]="1">
        <app-info-card-profile-patiens [title]="'Doctor consultations'" [content]="'Schedule your next visit or resolve your medical questions, click here.'" [link]="'https://www.google.com'"></app-info-card-profile-patiens>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"  [rowspan]="1">
        <app-info-card-profile-patiens [title]="'Check the status of my treatment'" [content]="'For a detailed evaluation and adjustments to your treatment, click here.'" [link]="'https://www.google.com'"></app-info-card-profile-patiens>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"  [rowspan]="1">
        <app-info-card-profile-patiens [title]="'Set up notifications'" [content]="'Activate or customize your alerts to stay informed, click here.'" [link]="'https://www.google.com'"></app-info-card-profile-patiens>
      </mat-grid-tile>

    </mat-grid-list>


