

<mat-toolbar>
  <div class="logo-container">
    <img src="assets/images/logo.png" alt="Logo" class="logo">
    <mat-toolbar>HormonalCare</mat-toolbar>
  </div>
  <h3> Doctors available.</h3>
  <span class="spacer"></span>
  <a mat-button *ngFor="let option of optionsPatients; let i = index" [routerLink]="option.path" routerLinkActive="active-button" class="nav-button" [class.first-button]="i === 0">
    <div class="icon-text">
      <img [src]="option.icon" alt="{{option.title}}" class="option-icon">
    </div>
    {{ option.title }}
  </a>
</mat-toolbar>



<router-outlet/>
<app-footer-content/>
