.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0e4f4; /* Light purple background */
  height: 86vh;
  padding: 20px;
}

main.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}

.welcome-message {
  flex: 1;
  display: flex;
  margin-top: 140px;
}

.welcome-message h1 {
  font-size: 2em;
  font-weight: bold;
}

.register-form-container {
  flex: 1;
  background-color: #b19cd9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the form takes full width of the container */
}

.register-form h2 {
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 15px;
}

.forgot-password {
  margin-bottom: 15px;
  color: #6200ea;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

button[type="submit"] {
  padding: 10px 20px;
}




.logo {
  height: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.register-button {
  color: black;
  background-color: #8f7193;
  border-radius: 5px;
}

mat-toolbar {
  background-color: #b19cd9;
}

.register-button:hover {
  background-color: #a493d1;
}
