<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <input type="text" id="gender" formControlName="gender" class="form-control" />
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" />
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" id="image" formControlName="image" class="form-control" />
  </div>
  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="date" id="birthday" formControlName="birthday" class="form-control" />
  </div>
  <div class="form-group">
    <label for="professionalIdentificationNumber">Professional Identification Number</label>
    <input type="number" id="professionalIdentificationNumber" formControlName="professionalIdentificationNumber" class="form-control" />
  </div>
  <div class="form-group">
    <label for="subSpecialty">Sub Specialty</label>
    <input type="text" id="subSpecialty" formControlName="subSpecialty" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
