<mat-dialog-content>
  <div class="grid-container">
    <div class="grid-item" style="grid-column: span 1; grid-row: span 2;">
      <img [src]="data.image" alt="{{ data.name }} {{ data.lastname }}" class="fixed-size-image">
    </div>
    <div class="grid-item" style="grid-column: span 2; grid-row: span 2; font-size: 25px;">
      <p>Name: {{ data.name }}</p>
      <p>Lastname: {{ data.lastname }}</p>
      <p>Email: {{ data.email }}</p>
      <p>School No.: {{ data.college_number }}</p>
    </div>
    <div class="grid-item" style="grid-column: span 1; grid-row: span 1;">
      <h1>Titles</h1>
      <div>
        <img [src]="data.title" alt="{{ data.name }} {{ data.lastname }}" class="fixed-size-title">
      </div>
    </div>
    <div class="grid-item" style="grid-column: span 1; grid-row: span 1;">
      <app-button-send-message (sendMessageClicked)="sendMessageToDoctor()"></app-button-send-message>
    </div>
    <div class="grid-item" style="grid-column: span 1; grid-row: span 1;">
      <app-datepicker-profile-colleague></app-datepicker-profile-colleague>
    </div>
    <div class="grid-item" style="grid-column: span 1; grid-row: span 1;">
      <app-hourpicker-profile-colleague></app-hourpicker-profile-colleague>
    </div>
    <div class="grid-item" style="grid-column: span 1; grid-row: span 1;">
      <app-space-assign-patient></app-space-assign-patient>
    </div>
    <div class="grid-item" style="grid-column: span 1; grid-row: span 1;">
      <app-button-save-schedule></app-button-save-schedule>
    </div>
  </div>
</mat-dialog-content>
